model/eng_swa_model/config.json
model/eng_swa_model/generation_config.json
model/eng_swa_model/pytorch_model.bin
model/eng_swa_model/source.spm
model/eng_swa_model/special_tokens_map.json
model/eng_swa_model/target.spm
model/eng_swa_model/tokenizer_config.json
model/eng_swa_model/vocab.json
model/eng_swa_model/model.pkl

venv
model/swa_eng_model/config.json
model/swa_eng_model/generation_config.json
model/swa_eng_model/pytorch_model.bin
model/swa_eng_model/source.spm
model/swa_eng_model/special_tokens_map.json
model/swa_eng_model/target.spm
model/swa_eng_model/tokenizer_config.json
model/swa_eng_model/vocab.json
model/swa_eng_model/model.safetensors
model/swa_eng_model/model.pkl
